body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

div.welcome-text {
    color: papayawhip;
    font-family: cursive;
    font-size: 32px;
    margin-left: 1060px;
}
